@import './_globals';
#confetti-container,
#fireworks-container {
  height: 100%;
  width: 100%;
}
.confetti,
.fireworks,
.rocket {
  position: absolute;
  opacity: 0.75;
  z-index: 0;
  /* gpu acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  &.blue {
    background: $blue;
  }
  &.green {
    background: $green;
  }
  &.yellow {
    background: $yellow;
  }
  &.red {
    background: $red;
  }
  &.pink {
    background: $pink;
  }
  &.circle {
    border-radius: 50%;
  }
  &.rectangle {
    padding: 0 1px;
  }
}
