<template>
  <transition name="fade">
    <h2 v-show="!isDirty" id="action-text">{{ actionText }}</h2>
  </transition>
</template>

<script>
export default {
  name: "ActionText",
  props: {
    isDirty: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    actionText() {
      const toMatch = [
        /Android/i,
        /webOS/i,
        /iPhone/i,
        /iPad/i,
        /iPod/i,
        /BlackBerry/i,
        /Windows Phone/i
      ];
      const isMobile = toMatch.some(toMatchItem => {
        return navigator.userAgent.match(toMatchItem);
      });

      return `${isMobile ? "tap" : "click"} anywhere`;
    }
  }
};
</script>
<style lang="scss" scoped>
#action-text {
  color: rgba(0, 0, 0, 0.25);
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 5s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
