<template>
  <div id="confetti-container" @click="handleClick" />
</template>

<script>
import _debounce from "lodash/debounce";

import { particleMixin } from "../mixins/particles.js";

export default {
  name: "Confetti",
  mixins: [particleMixin],
  methods: {
    handleClick: _debounce(
      function(event) {
        const { settings } = this;
        const docFrag = document.createDocumentFragment();
        const containerData = this.getContainerData(event);

        for (let i = 0; i < settings.numParticles; i++) {
          const color = this.getRandomParticleColor();
          const shape = this.getRandomParticleShape();
          const size = this.getRandomInt(8, 4);
          const newX = this.getRandomInt(
            containerData.minX,
            containerData.maxX
          );
          const newY = this.getRandomInt(
            containerData.minY,
            containerData.maxY
          );

          let confetti = document.createElement("div");
          confetti.className += `confetti ${color} ${shape}`;
          confetti.style.top = `${event.y}px`;
          confetti.style.left = `${event.x}px`;
          confetti.style.height = `${size}px`;
          confetti.style.width = `${size}px`;
          confetti.style.transform = `rotate(${this.getRotation()}deg)`;
          docFrag.appendChild(confetti);

          setTimeout(() => {
            confetti.style.transition = `all ${this.getRandomFloat(
              1.5,
              0.5
            )}s ease`;
            confetti.style.top = `${newY}px`;
            confetti.style.left = `${newX}px`;
            confetti.style.transform = `rotate(${this.getRotation()}deg)`;

            confetti.addEventListener("transitionend", e => {
              if (e.propertyName === "left") {
                let c = e.target;
                c.style.transition = `all ${this.getRandomFloat(1.25, 1)} ease`;
                c.style.opacity = 0;
                c.style.transform = `rotate(${this.getRotation()}deg)`;
                c.style.top = `${parseInt(confetti.style.top) + 10}px`;
              }
            });

            setTimeout(() => {
              confetti.remove();
              confetti = null;
            }, 2000);
          });
        }

        document.body.appendChild(docFrag);
      },
      100,
      {
        leading: true,
        trailing: false
      }
    )
  }
};
</script>
