<template>
  <div id="fireworks-container" @click="handleClick" />
</template>

<script>
import _debounce from "lodash/debounce";

import { particleMixin } from "../mixins/particles.js";

export default {
  name: "Fireworks",
  mixins: [particleMixin],
  methods: {
    handleClick: _debounce(
      function(event) {
        this.makeRocket(event);
      },
      100,
      {
        leading: true,
        trailing: false
      }
    ),
    makeFirework(start, color, size) {
      const { settings } = this;
      const docFrag = document.createDocumentFragment();
      const containerData = this.getContainerData(start);

      for (let i = 0; i < settings.numParticles; i++) {
        const newX = this.getRandomInt(containerData.minX, containerData.maxX);
        const newY = this.getRandomInt(containerData.minY, containerData.maxY);

        let fireworks = document.createElement("div");
        fireworks.className += `fireworks ${color} circle`;
        fireworks.style.top = `${start.y}px`;
        fireworks.style.left = `${start.x}px`;
        fireworks.style.height = `${size}px`;
        fireworks.style.width = `${size}px`;
        docFrag.appendChild(fireworks);

        setTimeout(() => {
          fireworks.style.transition = `all ${this.getRandomFloat(
            1.5,
            0.5
          )}s ease`;
          fireworks.style.top = `${newY}px`;
          fireworks.style.left = `${newX}px`;

          fireworks.addEventListener("transitionend", e => {
            let f = e.target;
            f.style.transition = `all ${this.getRandomFloat(1.25, 1)} ease`;
            f.style.opacity = 0;
            f.style.top = `${parseInt(f.style.top) + 5}px`;
          });

          setTimeout(() => {
            fireworks.remove();
            fireworks = null;
          }, 2000);
        });
      }

      document.body.appendChild(docFrag);
    },
    makeRocket(event) {
      const color = this.getRandomParticleColor();
      const size = this.getRandomInt(8, 4);
      const container = document.getElementById("app").getBoundingClientRect();
      const start = { x: container.width / 2, y: container.height };
      const end = { x: event.clientX, y: event.clientY };
      const rocket = document.createElement("div");

      rocket.className += `rocket ${color} circle`;
      rocket.style.top = `${start.y}px`;
      rocket.style.left = `${start.x}px`;
      rocket.style.height = `${size}px`;
      rocket.style.width = `${size}px`;
      rocket.style.transition = `all ${this.getRandomFloat(1.25, 0.75)}s ease`;

      rocket.addEventListener("transitionend", e => {
        if (e.propertyName === "top") {
          this.makeFirework(end, color, size);
          e.target.remove();
        }
      });

      setTimeout(() => {
        rocket.style.top = `${end.y}px`;
        rocket.style.left = `${end.x}px`;
      }, 100);

      document.body.appendChild(rocket);
    }
  }
};
</script>
