<template>
  <div id="sources">
    <span v-for="(source, index) in sources" :key="index">
      {{ source.description }}
      <a :href="source.url" target="_blank">{{ source.name }}</a>
      <span v-if="index != sources.length - 1">&nbsp;|&nbsp;</span>
    </span>
  </div>
</template>
<script>
export default {
  data() {
    return {
      sources: [
        {
          description: "👩🏼‍💻",
          url: "http://www.rachelpipkin.com",
          name: "rae"
        },
        {
          description: "",
          url: "https://codepen.io/EmersonGS/pen/vwVNvp",
          name: "Confetti"
        },
        {
          description: "",
          url: "https://codepen.io/jsndks/pen/qEXzOQ",
          name: "Toggle"
        }
      ]
    };
  }
};
</script>
