<template>
  <div id="app" :class="{ dark: !isLight }" @click="isDirty = true">
    <ActionText :isDirty="isDirty" />
    <Confetti v-if="isLight" />
    <Fireworks v-else />
    <div id="footer">
      <DayToggle @change="isLight = !isLight" />
      <Sources class="footer" />
    </div>
  </div>
</template>

<script>
import { randomizer } from "./mixins/randomizer";

import ActionText from "./components/ActionText";
import Confetti from "./components/Confetti";
import Fireworks from "./components/Fireworks";
import Sources from "./components/Sources";

import DayToggle from "./components/DayToggle";

export default {
  name: "App",
  mixins: [randomizer],
  components: {
    ActionText,
    Confetti,
    DayToggle,
    Fireworks,
    Sources
  },
  data() {
    return {
      isDirty: false,
      isLight: true
    };
  }
};
</script>

<style lang="scss">
@import "./styles/styles";
body {
  height: 100%;
  margin: 0;
  position: fixed;
  width: 100%;
}

#app {
  background-color: $sky_light;
  color: $black;
  display: flex;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
  width: 100%;
  a {
    color: #00b894;
  }
  &.dark {
    background-color: $sky_dark;
    color: $white;
  }

  #footer {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    position: absolute;
    width: 100%;
  }
}
</style>
